<div class = "border-bottom row " style = "margin-bottom:16px;padding-bottom:8px;">
  <div class = "col-9">
  <h4
    style = "color: grey; margin-bottom: 4 px;">{{job['title']}}
  </h4>
 <div> 
   <b>Location: </b>{{job['location']}}
 </div>   
  <div> 
    <b>Salary: </b>{{job['salary']}} 
  </div>
  </div>
  <div class = "col-3">
    <a href = "mailto:hello@techcareers.ai?subject=Application%20for%20{{job['title']}}&body=NAME%3A%0D%0A%0D%0ARESUME%20LINK%20%3A%0D%0A%0D%0ALinkedIN%20url%20%3A%0D%0A%0D%0A" type = "button"  class = "btn btn-primary btn-lg"> Apply</a>
  </div>
</div>
